@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(270, 12%, 97%);
  --cardColor: hsl(300, 100%, 34%);
  /* Font Sizes */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 4rem;
  --h2FontSize: 2.5rem;
  --h3FontSize: 2rem;
  --normalFontSize: 1.876rem;
  --smallFontSize: 1.626rem;
  --smallestFontSize: 1.5rem;
  --borderRadius: 3rem;
}

.accordionContainer .title {
  font-size: var(--normalFontSize);
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--primaryColorLight);
}
.accordionContainer .title span {
  cursor: pointer;
}
.accordionContainer .title span .icon {
  font-size: 1.2rem;
  color: var(--blackColor);
}
.accordionContainer .description {
  font-size: var(--smallFontSize);
  display: flex;
  align-items: center;
  line-height: 20px;
  white-space: pre-line;
  height: 0px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding: 0 1.5rem;
  background: var(--cardColor);
  border-radius: 0 0 10px 10px;
  color: var(--blackColor);
}
.accordionContainer .show {
  height: 140px;
  opacity: 1;
}
.accordionContainer .activeTitle {
  background: var(--primaryColorLight);
  border-radius: 10px 10px 0 0;
}

.questions .secHeading h3 {
  padding-bottom: 1.5rem;
}
.questions .secHeading p {
  font-size: var(--smallFontSize);
  color: var(--blackColor);
  padding-bottom: 1rem;
}
.questions .secContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.questions .inquiry-form {
  background-color: var(--whiteColor);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.questions .inquiry-form h2 {
  font-size: var(--h2FontSize);
  color: var(--blackColor);
  margin-bottom: 0.5rem;
}
.questions .inquiry-form p {
  font-size: var(--smallFontSize);
  color: var(--greyText);
  margin-bottom: 2rem;
}
.questions .inquiry-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.questions .inquiry-form form input,
.questions .inquiry-form form textarea {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: hsl(330deg, 31%, 84%);
  font-family: "Roboto", sans-serif;
}
.questions .inquiry-form form input::-moz-placeholder, .questions .inquiry-form form textarea::-moz-placeholder {
  color: var(--greyText);
}
.questions .inquiry-form form input::placeholder,
.questions .inquiry-form form textarea::placeholder {
  color: var(--greyText);
}
.questions .inquiry-form form textarea {
  resize: none;
  min-height: 150px;
}
.questions .inquiry-form form .submit-btn {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  padding: 1rem;
  border: none;
  border-radius: var(--borderRadius);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.questions .inquiry-form form .submit-btn:hover {
  background: var(--primaryColor);
}

/* Responsive cho màn hình từ 640px trở lên */
@media screen and (min-width: 640px) {
  .accordionContainer .title {
    font-size: var(--h3FontSize);
  }
  .accordionContainer .title span .icon {
    font-size: 1.5rem;
  }
  .accordionContainer .description {
    font-size: var(--normalFontSize);
  }
  .accordionContainer .show {
    height: 150px;
  }
  .questions .secHeading h3,
.questions .secHeading h4 {
    font-size: var(--h2FontSize);
  }
  .questions .secHeading p {
    font-size: var(--normalFontSize);
  }
  .questions .secContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 2rem;
  }
  .questions .secContainer .inquiry-form {
    padding-bottom: 2rem;
  }
  .questions .secContainer .inquiry-form .form input,
.questions .secContainer .inquiry-form .form textarea {
    font: var(--normalFontSize);
  }
  .questions .secContainer .inquiry-form .form input::-moz-placeholder, .questions .secContainer .inquiry-form .form textarea::-moz-placeholder {
    font-size: var(--normalFontSize);
    color: var(--blackColor);
  }
  .questions .secContainer .inquiry-form .form input::placeholder,
.questions .secContainer .inquiry-form .form textarea::placeholder {
    font-size: var(--normalFontSize);
    color: var(--blackColor);
  }
}
@media screen and (min-width: 1040px) {
  .accordionContainer .title {
    font-size: var(--h3FontSize);
  }
  .accordionContainer .title h3 .icon {
    font-size: 1.5rem;
  }
  .accordionContainer .description {
    font-size: var(--normalFontSize);
  }
  .accordionContainer .show {
    height: 150px;
  }
  .questions .secHeading h3,
.questions .secHeading h4 {
    font-size: var(--h2FontSize);
  }
  .questions .secHeading p {
    font-size: var(--normalFontSize);
  }
  .questions .secContainer {
    display: grid;
    align-items: start;
    gap: 3rem;
  }
}
/*# sourceMappingURL=Questions.css.map */